/* default Settings */
body
{
    margin:0;
    background-color: #E3E6E3;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6,p
{
    margin-top:0;
}

ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
a{
    text-decoration: none;
}


/* helper classes */
.left
{
    float:left;
}

.right{
    float:right;
}

.clear::after
{
    content: "";
    display: block;
    clear:both;
}
.w-100{
    width: 100%;
}
#container{
    width:1000px;
    margin:10px auto 0px auto;
}
/* header section */
#header{
    background-color: #009270;

}
#header .logo a{
    display: block;
    padding:7px 15px;
}

#mainNav ul li{
    display: inline-block;
    position: relative;
}

#mainNav  ul li a{
    color:#fff;
    text-transform: capitalize;
    display: block;
    padding:22px 5px 10px 5px;
    font-size: 14px;
}
#mainNav  ul li a:hover {
    background-color: #028062;
}

#mainNav  .dropdown{
    position: absolute;
    width:200px;
    background-color: #fff;
    display: none;
} 
#mainNav ul li:hover .dropdown{
    display: block;
}
#mainNav .dropdown li{
    display: block;
}
#mainNav .dropdown li a{
    color:#000;
    padding:14px 16px;
}
#mainNav  .dropdown li a:hover{
background-color: #ECEBEB;
}
#searchBar{
    margin:8px 7px  8px 0px;
}
#searchBar input[type="text"]
{
    background-color: #00785C;
    padding:8px 6px;
    color:#B1CFC6;
    border:none;
}
#searchBar input[type="text"]::placeholder
{
    color:#B1CFC6;
}
#searchBar i{
    color:#fff;
    background-color:#00785C ;
    display: inline-block;
    margin-right: -4px;
    font-size: 12px;
    padding: 10px 8px 9px 8px;
}

/* content section */
#content{
}
#sideBar1 , 
#main,
#sideBar2{
    background-color: #fff;
   
}
/* sidebar1 section  */
#sideBar1{
    width:20%;

}
#latestNews{
    border-top: 5px solid #E3E6E3;
    padding: 15px;

}
#latestNews ul li:not(:last-child),

#latestPhotos ul li:not(:last-child){
    padding:12px 0 ;
    border-bottom: 1px solid #ecebeb;
}
#latestNews ul li a{
    color: #000;
    font-size: 13px;
    display: block;
    line-height: 1.5;
}
#latestNews ul li a:hover{
    text-decoration: underline;
}
small{
    font-size: 10px;
    color:#878787;
}
.newsHeading{
    color: #009270;
    text-transform: uppercase;
    font-size: 16px;
}
#latestPhotos ul li a{
display: block;
color:#000;
font-size: 14px;
line-height: 1.5;
margin-bottom: 8px;
}
#latestPhotos{
    padding: 15px;
    border-top: 5px solid #E3E6E3;

}
/* main section  */
#main{
    width:50%;
}
#CoronaNews{ padding: 15px;
    border: 5px solid #E3E6E3;
}
#CoronaNews span{
    font-size: 13px;
    color:#878787;
    padding:8px 0 12px 0;
    display: block;
}


#CoronaNews p{
    font-size: 14px;
    color: #878787;
    line-height: 1.5;
}
#CoronaNews ul li{
    margin:8px 0;
}
#CoronaNews ul li a{
    font-size: 14px;
    color: #1866DB;
    font-weight: 600;
}

/* sidebar2 section  */
#sideBar2{
    width:30%;
}
#trending h3{
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;

}
#trending{ padding: 15px;

    border-top: 5px solid #E3E6E3;

}
#trending .poster{
    border-radius: 5px;
}
#trending h3:hover{
    text-decoration: underline;
}
#trending ul li .trendingVideo{
    position: relative;
}
#trending ul li .play-btn{
    position: absolute;
    top:50%;
    left:50%;
    font-size: 50px;
    background-color: #fff;
    border-radius: 50%;
    color: rgba(0,0,0,0.8);
    margin-top:-25px;
    margin-left:-25px;
}

#trending ul li span{
    position: absolute;
    right:5px;
    bottom: 10px;
    color: #fff;
    background-color: #000;
    padding: 5px 8px;
    font-size: 10px;
    border-radius: 5px;
}