*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/* .container{
    padding: 50px;
} */

.main ul{
    display: flex;
padding: 50px;
    background-color: black;
    color: white;
    justify-content: center;
}

.main ul li{
    list-style: none;
    margin: 10px;

}
body{
    background-color: grey;
}